<!DOCTYPE html>

<title>Chattext</title>

{% block body %}
    <h1>Chattext</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Created</th>
                <td>{{ chattext.created ? chattext.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ chattext.updated ? chattext.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ chattext.createdBy }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ chattext.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ chattext.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chattext_index') }}">back to list</a>

    <a href="{{ path('chattext_edit', {'id': chattext.id}) }}">edit</a>

    {{ include('chattext/_delete_form.html.twig') }}
{% endblock %}
