<!DOCTYPE html>

<title>Happening index</title>

{% block body %}
    <h1>Happening index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>OccurenceName</th>
                <th>OccurenceDate</th>
                <th>OccurenceSymbol</th>
                <th>OccurenceType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for happening in happenings %}
            <tr>
                <td>{{ happening.id }}</td>
                <td>{{ happening.created ? happening.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ happening.updated ? happening.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ happening.occurenceName }}</td>
                <td>{{ happening.occurenceDate ? happening.occurenceDate|date('Y-m-d') : '' }}</td>
                <td>{{ happening.occurenceSymbol }}</td>
                <td>{{ happening.occurenceType }}</td>
                <td>
                    <a href="{{ path('happening_show', {'id': happening.id}) }}">show</a>
                    <a href="{{ path('happening_edit', {'id': happening.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('happening_new') }}">Create new</a>
{% endblock %}
