{% extends 'layout.html.twig' %}
{% block content %}

    {#{% set merged_array = customer.happening|merge(customer.appointment) %}#}
    {#{% set sorted_array = merged_array %}#}
    {#{% for k,v in sorted_array %}#}
        {#{% for order in sorted_array[k]|casttoarray %}#}
            {#{{ dump(order) }}#}
        {#{% endfor %}#}
    {#{% endfor %}#}

    {% if customer|default() or accountmanager|default() %}
        <div class="container-timeline clearfix">
        <span class="line"></span>
        <ul>
            <li class="event new">
                        <span>
                            Eerste contact:
                            ma 1 augustus 2010
                        </span>
            </li>

            <li class="account">
                <header>
                    <img src="{{ asset('img/guypot.jpg') }}" alt="">
                    <section>
                        <small>ma 1 aug. 2010</small>
                        <p>Erik Delen</p>
                    </section>
                </header>
                <main>
                    <p>Klant heeft intresse om bepaalde investeringen te doen maar weet niet zo goed hoe.</p>
                </main>
            </li>
            <li class="client">
                <header>
                    <img src="{{ asset('img/person.png') }}" alt="">
                    <section>
                        <small>di 2 aug. 2010</small>
                        <p>Alexander Janssens</p>
                    </section>
                </header>
                <main>
                    <p>Vond het een heel interessant gesprek, zeker intresse om nog kapitaal te investeren met behulp van delen.</p>
                </main>
            </li>
            <li class="event appointment">
                        <span>
                            Afspraak:
                            ma 1 sept. 2010
                        </span>
            </li>
            <li class="client">
                <header>
                    <img src="{{ asset('img/person.png') }}" alt="">
                    <section>
                        <small>ma 2 sept. 2010</small>
                        <p>Alexander Janssens</p>
                    </section>
                </header>
                <main>
                    <p>Interessant gesprek over mijn recentste investeringen.</p>
                </main>
            </li>
            <li class="account">
                <header>
                    <img src="{{ asset('img/guypot.jpg') }}" alt="">
                    <section>
                        <small>di 3 sept. 2010</small>
                        <p>Erik Delen</p>
                    </section>
                </header>
                <main>
                    <p>Klant was zeer tevreden over onze laatste investering!</p>
                </main>
            </li>
            <li class="event birth">
                        <span>
                            Geboorte:
                            woe 4 okt. 2010
                        </span>
            </li>
            <li class="event marriage">
                        <span>
                            Huwelijk:
                            don 5 dec. 2010
                        </span>
            </li>
            <li class="event appointment">
                        <span>
                            Afspraak:
                            zat 4 jan. 2011
                        </span>
            </li>
        </ul>
        <aside>
            <!-- IF CLIENT -->
            {% if customer|default() %}
                {% include 'partials/client_add_remark.html.twig' %}
                {% if 'afspraak' in app.request.uri %}
                    {% include 'partials/client_happiness.html.twig' %}
                {% endif %}
            {% endif %}
        </aside>
        <aside>
            <!-- IF ACCOUNT -->
            {% if accountmanager|default() %}
                {% include 'partials/account_add_remark.html.twig' %}
                {% include 'partials/account_add_event.html.twig' %}
            {% endif %}
        </aside>
        {% else %}
            <main>
                <div class="container-login">
                    <img src="{{ asset('img/logo_delen.svg') }}" alt="Logo">
                    <form method="POST" action="{{ path('login') }}">
                        <label for="_username">Gebruikersnaam</label>
                        <input id="_username" class="form-control" name="_username" value="" required autofocus>
                        </span>
                        <img src="{{ asset('img/digicode.png') }}" alt="Digicode">
                        <input id="password" type="password" class="form-control" name="_password" required placeholder="* * * *"><br>
                        <button type="submit" class="btn btn-primary">
                            Aanmelden
                        </button>
                    </form>
                </div>
            </main>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function showRemarkForm() {
            document.getElementById("remarkform").classList.remove("hide");
        }
        function hideRemarkForm() {
            document.getElementById("remarkform").classList.add("hide");
        }
        function setVisible() {
            if(document.getElementById("eye").classList.contains("yes")){
                document.getElementById("eye").classList.remove("yes");
                document.getElementById("eyevalue").removeAttribute('checked');
            }else{
                document.getElementById("eye").classList.add("yes");
                document.getElementById("eyevalue").setAttribute('checked', 'checked');
            }

        }
    </script>
{% endblock %}
