{% extends 'layout.html.twig' %}
{% block content %}

    {% if customer|default() or accountmanager|default() %}
        <div class="container-timeline clearfix">
        <ul>
            {% for happening in customer.happening|default() %}
                {#{{ happening.occurenceName|default() }}#}
                {#{{ dump(happening.occurenceType) }}#}
                {% if happening.occurenceType == 'eerste contact' %}
                    <li class="event new" style="background-image:{{ asset(happening.occurenceSymbol|default('img/lamp.svg')) }}">
                        <span>
                            Eerste contact:
                            {{ happening.occurenceDate|date('d-m-y')|default() }}
                        </span>
                    </li>
                {% elseif happening.occurenceType == 'geboorte' %}
                    <li class="event birth" style="background-image:{{ asset(happening.occurenceSymbol|default('img/birth.svg')) }}">
                        <span>
                            Geboorte:
                            {{ happening.occurenceDate|date('d-m-y')|default() }}
                        </span>
                    </li>
                {% elseif happening.occurenceType == 'huwelijk' %}
                    <li class="event marriage" style="background-image:{{ asset(happening.occurenceSymbol|default('img/ring.svg')) }}">
                        <span>
                            Huwelijk:
                            {{ happening.occurenceDate|date('d-m-y')|default() }}
                        </span>
                    </li>
                {% elseif happening.occurenceType == 'afspraak' %}
                    <li class="event new" style="background-image:{{ asset(happening.occurenceSymbol|default('img/calendar.svg')) }}">
                        <span>
                            Afspraak:
                            {{ happening.occurenceDate|date('d-m-y')|default() }}
                        </span>
                    </li>
                {% endif %}
            {% endfor %}

            {% for appointment in customer.appointment|default() %}
                {% for conversation in appointment.chattext|default() %}
                    <li class="client">
                        <header>
                            <img src="{{ asset('img/person.png') }}" alt="">
                            <section>
                                <small>
                                    {{ appointment.date|date('d-m-Y')|default() }}
                                </small>
                                <p>
                                    {{ conversation.createdBy|default()|capitalize }}
                                </p>
                            </section>
                        </header>
                        <main>
                            <div class="filler">
                                <p>
                                    {{ conversation.text|default() }}
                                </p>
                            </div>
                        </main>
                    </li>
                {% endfor %}
            {% endfor %}
            <li class="event appointment">
                <span>Afspraak: ma 10 dec. 2019</span>
            </li>
            <li class="account">
                <header>
                    <img src="{{ asset('img/person.png') }}" alt="">
                    <section>
                        <small>ma 10 dec. 2019</small>
                        <p>Erik Delen</p>
                    </section>
                </header>
                <main>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolorem est magnam perferendis placeat recusandae similique. Amet architecto, consequatur, earum enim eos fuga impedit maiores nemo, possimus quia quod temporibus.</p>
                </main>
            </li>
        </ul>
        <aside>
            <!-- IF CLIENT -->
            {#{% if customer|default() %}#}
                {#{% include 'partials/client_add_remark.html.twig' %}#}
                {#{% if 'afspraak' in app.request.uri %}#}
                    {% include 'partials/client_happiness.html.twig' %}
                {#{% endif %}#}
            {#{% endif %}#}
        </aside>
        <aside>
            <!-- IF ACCOUNT -->
            {% if accountmanager|default() %}
                {% include 'partials/account_add_remark.html.twig' %}
            {% endif %}
            {% include 'partials/account_add_event.html.twig' %}
        </aside>
        {% else %}
            <main>
                <div class="container-login">
                    <img src="{{ asset('img/logo_delen.svg') }}" alt="Logo">
                    <form method="POST" action="{{ path('login') }}">
                        <label for="_username">Gebruikersnaam</label>
                        <input id="_username" class="form-control" name="_username" value="" required autofocus>
                        </span>
                        <img src="{{ asset('img/digicode.png') }}" alt="Digicode">
                        <input id="password" type="password" class="form-control" name="_password" required placeholder="* * * *"><br>
                        <button type="submit" class="btn btn-primary">
                            Aanmelden
                        </button>
                    </form>
                </div>
            </main>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function showRemarkForm() {
            document.getElementById("remarkform").classList.remove("hide");
        }
        function hideRemarkForm() {
            document.getElementById("remarkform").classList.add("hide");
        }
        function setVisible() {
            if(document.getElementById("eye").classList.contains("yes")){
                document.getElementById("eye").classList.remove("yes");
                document.getElementById("eyevalue").removeAttribute('checked');
            }else{
                document.getElementById("eye").classList.add("yes");
                document.getElementById("eyevalue").setAttribute('checked', 'checked');
            }

        }
    </script>
{% endblock %}
